<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>

    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
      {% block style %}

  <title>Small Business - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  {% endblock %}
  <!-- Custom styles for this template -->
  <link  rel="stylesheet" href="https://startbootstrap.com/template-overviews/small-business">

</head>

<body>

  {% include 'header-nav.html' %}

  {% block content %}
        {% block content-right %}
        {% endblock %}
        {% block content-left %}
            <li></li>
        {% endblock %}
  {% endblock %}

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  {% block js-block %}
  {% endblock %}
</body>